
.classpath
.project
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
*.class
target/classes/META-INF/maven/com.yu/Activiti/pom.xml
target/classes/META-INF/maven/com.yu/Activiti/pom.properties
target/classes/META-INF/MANIFEST.MF
target/classes/diagrams/MyProcess3.png
target/classes/diagrams/MyProcess3.bpmn
target/classes/diagrams/MyProcess2.png
target/classes/diagrams/MyProcess2.bpmn
target/classes/diagrams/MyProcess1.png
target/classes/diagrams/MyProcess1.bpmn
target/classes/com/yu/demo/mapper/approveNotes.xml
target/classes/application.properties
target/classes/activitiDemo.json
target/classes/activiti.sql
